{% extends "base.html" %}

{% block content %}
<h1>Detalle de Asignatura</h1>
<br/>
<div class="card">
  	<div class="card-body">
  		<table class="mb-2">
			<tr>
				<td><b>Código:</b></td>
				<td>{{ asignatura.codigo }}</td>
			</tr>
			<tr>
				<td><b>Nombre:</b></td>
				<td>{{ asignatura.nombre }}</td>
			</tr>
			<tr>
				<td class="pr-4"><b>Semestre:</b></td>
				<td>{{ asignatura.semestre }}</td>
			</tr>
			<tr>
				<td><b>Profesor:</b></td>
				<td>{{ asignatura.profesor }}</td>
			</tr>
			<tr>
				<td><b>Correo:</b></td>
				<td>{{ asignatura.correo }}</td>
			</tr>
		</table>
  	</div>
</div>
<br/>
<input type="button" class="btn btn-primary btn-lg px-4 mx-4" onclick="location.href='editar';" value='Editar'/>
<input type="button" class="btn btn-danger btn-lg px-4 mx-4" onclick="location.href='eliminar';" value='Eliminar'/>
<br/>
<input type="button" class="btn btn-secondary mt-4 px-4 mx-4" onclick="location.href='/asistencia/asignatura/';" value="Volver" />
{% endblock %}